[color]
  ui = auto
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[core]
  whitespace=fix,-indent-with-non-tab,-indent-with-tab,trailing-space,cr-at-eol
[alias]
  st = status
  co = checkout
  lg =  log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[user]
	name = scor
	email = scorlosquet@gmail.com
[branch]
	autosetuprebase = always
